<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BAL.Properties.Settings.QLCHDienThoaiDDConnectionString"
            connectionString="Data Source=LAPTOP-URL7LBFH\SQLEXPRESS;Initial Catalog=QLCHDienThoaiDD;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>